.intro_margin {
  margin: 0 auto 98px auto;
}

@media screen and (max-width: 1024px) {
  .intro_margin {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro_margin {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .intro_margin {
    padding: 0 16px;
  }
}

@media screen and (max-width: 375px) {
  .intro_margin {
    margin-bottom: 68px;
  }
}